@media (max-width: 830px) {
  .header .flex .nav .nav-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 0px;
  }
  .header .flex .nav .nav-list_item {
    margin-right: 10px;
  }
  .main .about-content .about-description_left {
    max-width: 400px;
    max-height: 769px;
  }
  .main .about-content .about-description_right {
    max-width: 400px;
  }
  .main .about-content .about-description_right .description_right-img {
    background-image: url("../images/about-img-768.webp");
    background-position: 0;
    min-height: 569px;
  }
  .main .projects-content_list {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (300px)[4];
        grid-template-rows: repeat(4, 300px);
    gap: 30px 30px;
  }
  .main .projects-content_list .content_list-item .list-item_description .item_description-less {
    display: inline;
  }
  .main .projects-content_list .content_list-item .list-item_description .item_description-more {
    display: none;
  }
  .main .projects-content_list .content_list-item .list-item_description .project-span1 {
    margin-left: 0;
  }
  .main .projects-content_list .item {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
  }
  .main .projects-content_list .fuji {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    max-width: 100%;
    background-size: cover;
    background-position: center;
  }
  .main .projects-content_list .oblivion {
    margin-top: 0;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 4;
    grid-row: 4/4;
    min-width: 100%;
    background-size: cover;
    background-position: center;
  }
  .main .projects-content_list .retouch {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    grid-row: 3/3;
    -ms-grid-column-align: start;
        justify-self: start;
  }
  .main .projects-content_list .portrait_big {
    margin-top: 0;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 3;
    grid-row: 3/3;
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .main .contacts .contacts-content {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (467px)[2];
        grid-template-rows: repeat(2, 467px);
    gap: 30px 30px;
  }
  .main .contacts .contacts-content_adress {
    -ms-grid-column: 1;
    grid-column: 1/1;
    -ms-grid-row: 1;
    grid-row: 1/1;
    max-width: 100%;
  }
  .main .contacts .contacts-content_map {
    -ms-grid-column: 1;
    grid-column: 1/1;
    -ms-grid-row: 1;
    grid-row: 1/1;
    max-width: 100%;
  }
  .main .contacts .contacts-content_form {
    -ms-grid-column: 1;
    grid-column: 1/1;
    -ms-grid-row: 2;
    grid-row: 2/2;
    max-width: 466px;
  }
  .footer .container .footer-content {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .footer .container .footer-content .footer-logo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .footer .container .footer-content .footer-text {
    display: none;
  }
  .footer .container .footer-content .footer-social {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
}
/*# sourceMappingURL=830px.css.map */